<div class="row">
  <div class="col">
    Musique total de la playlist : {{spotifyService.tracksRawRoot.total}}
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Titre</th>
        <th scope="col">Artiste</th>
        <th scope="col">Album</th>
        <th scope="col">Durée</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let trackRaw of spotifyService.tracksRawRoot.items">
        <td><i class="material-icons">play_circle_outline</i></td>
        <td>{{trackRaw.track.name}} <i *ngIf="trackRaw.track.explicit" class='material-icons'>explicit</i></td>
        <td><span *ngFor="let artist of trackRaw.track.artists ; index as i">{{artist.name}}{{trackRaw.track.artists.length == i + 1 ? "" : " & "}}</span></td>
        <td>{{trackRaw.track.album.name}}</td>
        <td>{{trackRaw.track.duration_ms | date:'m'}}'</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

