<div class="container">
  <div class="row">
  <!--  <audio #audioPlayer (timeupdate)="update()">-->
  <!--    <source src="{{audioSource}}" type="audio/mp3" />-->
  <!--    Browser not supported-->
  <!--  </audio>-->

  <!--  <div>-->
  <!--    <button class="control">Previous</button>-->
  <!--    <button #control class="control" (click)="play()">Play</button>-->
  <!--    <button class="control">Next</button>-->
  <!--  </div>-->

  <!--  <div class="slidecontainer">-->
  <!--    <input type="range" min="1" max="100" value="100" class="slider" #myRange>-->
  <!--  </div>-->
  <!--  &lt;!&ndash;<div #progressBarControl>-->
  <!--      <div #progressBar>Pas de lecture</div>-->
  <!--  </div>-->
  <!--  style="width:25%"-->
  <!--  &ndash;&gt;-->

  <!--  <div class="w3-light-grey w3-round-xlarge">-->
  <!--    <div class="w3-container w3-blue w3-round-xlarge" #progressBar >Pas de lecture</div>-->
  <!--  </div>-->

  </div>
</div>
