<div class="row">

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>

  <div class="col-sm-3 grid-item">

    <div class="grid-item-top">
      <img src="assets/img/indie.jpg" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="">LibelleGenre or libelleAlbum</a>
    </div>

  </div>
</div>

