<div class="row">

  <div class="col-sm-3 grid-item" (click)="handleClick('album')" *ngFor="let genreRaw of spotifyService.genresRawRoot.categories.items">
    <div class="grid-item-top">
      <img [attr.src]="genreRaw.icons[0].url" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="" [text]=genreRaw.name></a>
    </div>

  </div>

  <div class="col-sm-3 grid-item" (click)="handleClick('playlist')" *ngFor="let playlistRaw of spotifyService.playlistsRawRoot.playlists.items">
    <div class="grid-item-top">
      <img [attr.src]="playlistRaw.images[0].url" alt="">
    </div>
    <div class="grid-item-bot">
      <a href="" [text]="playlistRaw.name"></a>
    </div>

  </div>

</div>

