<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{logoMarque}}" alt="" class="float-center">

      <div class="input-group input-group-sm mb-2">
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Rechercher">
        <div class="input-group-append">
          <a class="input-group-text material-icons" id="inputGroup-sizing-sm">search</a>
        </div>
      </div>

      <ul class="list-group list-group-flush mb-2">
        <li class="list-group-item pointer" (click)="goAlbum()">Genre</li>
        <li class="list-group-item pointer" (click)="goPlaylist('toplists')">Top Playlist</li>
      </ul>

      <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="goSignin()">Connexion</button>
        <button type="button" class="btn btn-secondary" (click)="goSignup()">Inscription</button>
      </div>

<!--      <p class="h7 mb-2">PLAYLIST<i class="material-icons pointer" id="addPlaylist">playlist_add</i></p>-->

<!--      <ul class="list-group list-group-flush mb-2">-->
<!--        <li class="list-group-item pointer">Playlist 1</li>-->
<!--        <li class="list-group-item pointer">Playlist 2</li>-->
<!--      </ul>-->

    </div>
  </div>

</div>
