.grid-item{
  margin: 5px;
}

.grid-item-top:hover{
  background-color: black;
  opacity: 0.5;
}

.grid-item-bot:hover{
  font-weight: bold;
}


.grid-item:hover{
  /*box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  cursor: pointer;
}


