<form>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@example.com" required>
    <small id="emailHelp" class="form-text text-muted">
      Ne partagez jamais votre email avec n'importe qui.
    </small>
  </div>

  <label for="InputPassword1">Mot de passe</label>
  <div class="input-group mb-2">
    <input type="password" class="form-control" id="InputPassword1" aria-label="Small" aria-describedby="inputGroup-sizing" placeholder="**********">
    <div class="input-group-append">
      <a class="input-group-text material-icons text-black-50" id="inputGroup-sizing">visibility</a> <!-- _off -->
    </div>
  </div>

  <label for="InputPassword1">Répéter mot de passe</label>
  <div class="input-group mb-2">
    <input type="password" class="form-control" id="repeatInputPassword1" aria-label="Small" aria-describedby="repeatInputGroup-sizing" placeholder="**********">
    <div class="input-group-append">
      <a class="input-group-text material-icons text-black-50" id="repeatInputGroup-sizing">visibility</a> <!-- _off -->
    </div>
  </div>
  <small class="form-text text-muted mb-2">
    Votre mot de passe doit contenir plus de 8 caractères, un mélange de lettre et de chiffre ainsi que des caractères spéciaux.
  </small>

  <div class="form-check mb-2">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Accepter les conditions</label>
  </div>

  <button type="submit" class="btn btn-success mb-2">S'inscrire</button>
</form>
