<div class="container">
  <div class="row">
    <div class="col">

      <div class="text-center">
        <img src="{{logoMarque}}" alt="" class="float-center">
      </div>

      <form>

        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse électronique" required>
          <small id="emailHelp" class="form-text text-muted">
            Ne partagez jamais votre email avec n'importe qui.
          </small>
        </div>

        <div class="input-group mb-2">
          <input type="password" class="form-control" id="exampleInputPassword1" aria-label="Small" aria-describedby="inputGroup-sizing" placeholder="Mot de passe">
          <div class="input-group-append">
            <a class="input-group-text material-icons text-black-50" id="inputGroup-sizing">visibility</a> <!-- _off -->
          </div>
        </div>

        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>

        <button type="submit" class="btn btn-success mb-2">Connexion</button>
        => {{login.loginRoot.profil.email}}
      </form>

    </div>
  </div>
</div>
