html, body, * {
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #dddddd;
}

a {
  color: #dddddd !important;
}

a:hover {
  font-weight: bold !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-weight: bold;
  text-decoration: none;
}


.left-panel {
  height: calc(100vh - 65px);;
  width: 190px;
  float: left;
  border-right: 1px solid darkgray;
  left: 0;
  top: 0;
}

.right-panel {
  float: left;
  width: calc(100% - 190px);
  max-height: calc(100vh - 65px);;
  overflow-y: scroll;
  right: 0;
  top: 0;
}

.bottom-panel {
  min-height: 65px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid darkgray;
}
