<div class="container">
  <div class="row">
    <div class="col">

      <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateAudioChange($event)" [playerVars]="playerVars" [height]="videoHeight" [width]="videoWidth"></youtube-player>

      <i #audioControl class="material-icons pointer" (click)="switchPlayerState()">play_arrow</i>

      <i #audioVolumeIcon class="material-icons">volume_up</i>

      <input #audioVolumeSlide class="custom-range" type="range" min="0" max="100" value="100" class="slider" (change)="onStateChange()">

    </div>
  </div>
</div>
